.wrapper {
  display: flex;
  align-items: center;
  margin-left: 5px;
  padding: 7px 13px;
  cursor: pointer;

  &:hover {
    background-color: rgb(192, 185, 185);
  }
}
.avatar {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  object-fit: cover;
}
.info {
  flex: 1;
  margin-left: 12px;
}
.name {
  font-size: 1.1rem;
  font-size: 600;
  padding-bottom: 3px;
}
.checkicon {
  margin-left: 8px;
  font-size: 1rem;
  color: rgba(18, 175, 214, 0.5);
}
.username {
  font-size: 1rem;
  color: rgb(97, 92, 92);
}
